
@font-face {
        font-family: 'Trident9x16';
        src: url("/fonts/Trident9x16.woff") format("woff");
        font-weight: normal;
        font-style: normal;
}

* {
        box-sizing: border-box;
}

/*
 * set up the page
*/
body, html {
        padding: none;
        margin: 0px;
        overflow: hidden;
        background-image: url("/img/aero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        font-family: "Trident9x16";
        font-size: 1.2em;
        color: var(--fg-color);
}

/*
 * link styles
*/
a { color: var(--link); }

/*
 * the entire window's settings
*/
#window {
        height: 90vh;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
}

/*
 * the content part of the window
*/
#content {
        display: flex;
        flex-direction: row;
        flex: 1;
        background-color: var(--bg-color);
        margin: 4px;
}

/*
 * organize on laptop
*/
@media (orientation: landscape) {
        #content {
                flex-direction: row;
        }

        #window {
                width: 60vw;
        }
}

/*
 * organize on a phone
*/
@media (orientation: portrait) {
        #content {
                flex-direction: column;
        }

        #window {
                width: 90vw;
        }
}

/*
 * add some basic padding to all the parts
*/
#left, #right, #topbar {
        padding: 8px;
}

/*
 * the right side takes the most space
*/
#right {
        flex: 1;
}

/*
 * the left side needs some width.
 * all buttons in a column.
*/
#left {
        min-width: 20%;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
}

/*
 * all the links cover the whole width.
*/
#left > a {
        width: 100%;
        margin-bottom: 8px;
        box-sizing: border-box;
        background-color: var(--bg-color);
        padding: 4px;
}

/*
 * the top bar is a gradient and is horizonally organized.
*/
#topbar {
        background: linear-gradient(270deg,rgba(46, 154, 255, 1) 0%, rgba(0, 19, 189, 1) 100%);
        /* background-color: #002cde; */
        color: var(--topbar-fg-color);
        margin: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
}

/*
 * the left of the top bar takes majority of the space
*/
#left-topbar {
        flex: 1;
}

/*
 * links
*/
#left-topbar > a { color: var(--topbar-link); }

/*
 * the right topbar is a horizontal container
*/
#right-topbar {
        display: flex;
}

/*
 * all the buttons on the topbar are buttons
*/
#right-topbar > button {
        text-align: right;
        color: black;
        margin-left: 8px;
        height: 32px;
        width: 32px;
        aspect-ratio: 1/1;
        font-family: 'Trident9x16', monospace;
        font-size: 24px;
}

/*
 * inset something
 * a hovered button
*/
.inset, .button-border:hover {
        background-color: var(--bg-color);
        border-top: 4px solid var(--dark-border);
        border-left: 4px solid var(--dark-border);
        border-bottom: 4px solid var(--light-border);
        border-right: 4px solid var(--light-border);
}

/*
 * outset something
 * an unhovered button
*/
.outset, .button-border {
        background-color: var(--bg-color);
        border-top: 4px solid var(--light-border);
        border-left: 4px solid var(--light-border);
        border-bottom: 4px solid var(--dark-border);
        border-right: 4px solid var(--dark-border);
}

/*
 * all h1 titles
*/
h1 {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        box-sizing: border-box;
        padding: 8px;
        text-align: center;
}


/*
 Underline element
*/
Underline { text-decoration: underline; }

/*
 * full width
*/
.full-width {
        width: 100%;
}

/*
 * pixel image
*/
.pixel-image {
        image-rendering: pixelated;
        display: block;
}

/*
 * margins
*/
.no-margin { margin: 0px; }

/*
 * padding
*/
.no-pad { padding: 0px; }