
/*
	page settings
*/
body, html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0;
	margin-top: 1vh;
	background-color: #eeeeee;
	font-size: larger;
}

/*
	The display for the site on larger screens, like laptops
*/
@media (min-aspect-ratio: 1/1) {
	#content {
		width: 50%;
		margin: auto;
	}
}

/*
	The display for the site on smaller screens, like phones
*/
@media (max-aspect-ratio: 1/1) {
	#content {
		width: 90%;
		margin: auto;
	}
}

/*
	General content display
*/
#content {
	padding: 10px;
	background-color: #ffffff;
}

/*
	the navigaion bar
*/
#navbar {
	margin-right: 4px;
	width: 100%;
	display: flex;
}
#navbar-other {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: right;
}
#navbar-other > *::after {
	content: ";";
}
#navbar > a {
	flex: 1;
}
#navbar > div {
	flex: 2;
}

/*
	the basic page info
*/
#page {
	min-height: 256px;
}

/*
	the webring info
*/
#webring {
	width: 100%;
	margin-right: 4px;
	display: flex;
}
#webring > * {
	flex: 1;
}
#webring > div {
	display: flex;
	flex-direction: column;
}

/*
	bottom-most window
*/
#links {
	border-top: 1px solid black;
	margin-top: 16px;
}

/*
	simple classes
*/
.anchor-right {
	float: right;
	text-align: right;
}
.small-left-margin {
	margin-left: 0.5em;
}
.anchor-center {
	justify-self: center;
	text-align: center;
}