
body, html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0;
	margin-top: 1vh;
}

/*
	The display for the site on larger screens, like laptops
*/
@media (min-aspect-ratio: 1/1) {
	#content {
		width: 50%;
		margin: auto;
	}
}

/*
	The display for the site on smaller screens, like phones
*/
@media (max-aspect-ratio: 1/1) {
	#content {
		width: 90%;
		margin: auto;
	}
}

/*
	General content display
*/
#content {
	min-height: 100vh;
	padding: 10px;
}

.anchor-right {
	margin-left: 0.5em;
}

#navbar {
	margin-right: 4px;
	width: 100%;
	display: flex;
}
#navbar-other {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: right;
}