
/*
	fonts
*/
@font-face {
	font-family: 'sitelen-pona';
	src: url('/assets/fonts/sitelen-pona.ttf');
}

/*
	single rules
*/
.flexbox { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-4 { flex: 4; }

.italic { font-style: italic; }
.bold { font-weight: bold; }

.medium-font { font-size: medium; }

.no-padding { padding: 0; }

.small-left-margin { margin-left: 0.5em; }
.small-right-margin { margin-right: 0.5em; }
.small-margin { margin: 0.5em; }

.monospace { font-family: monospace; }
.p { text-align: justify; }
.sp { font-family: "sitelen-pona"; }
.nf { font-family: serif; }

.border-1px-greenish { border: 1px solid var(--greenish); }

/*
	simple classes
*/
.anchor-right {
	float: right;
	text-align: right;
}
.anchor-center {
	justify-self: center;
	text-align: center;
}
.image-blurb {
	margin-top: 0px; 
	padding-top: 0px; 
	text-align: center;
	font-size: medium;
	font-style: italic;
}

/*
	Screen width-specific
*/
/*
	The display for the site on larger screens, like laptops
*/
@media (min-aspect-ratio: 1/1) {
	.p { text-indent: 4em; }
	.flexbox-with-img { flex-direction: row; }
}

/*
	The display for the site on smaller screens, like phones
*/
@media (max-aspect-ratio: 1/1) {
	.p { text-indent: 2em; }
	.flexbox-with-img { flex-direction: column; }
}