<!DOCTYPE html>
<head lang="en">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {% if page.theme %}
                <link href="{{ page.theme }}" rel="stylesheet" type="text/css" />
        {% else %}
                <link href="/css/themes/primary.css" rel="stylesheet" type="text/css" />
        {% endif %}
        <link href="/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="window" class="outset">



<div id="topbar">
        <div id="left-topbar">
        <a>File</a>
        <a>View</a>
        </div>
        <div id="right-topbar">
                <button class="button-border" onclick="window.location.href='/about';">?</button>
                <button class="button-border" onclick="window.location.href='/';">/</button>
        </div>
</div>


<div id="content">
<div id="left" class="inset">
        <p>Pages</p>
        <a href="/" class="button-border">Home</a>
        <a href="/about" class="button-border">About</a>
        <a href="/projects" class="button-border">Projects</a>
        <a href="/music" class="button-border">My Music</a>
        <a href="/books" class="button-border">Books I've Read</a>
</div>
<div id="right" class="inset">
        {{ page.content }}
</div>
</div>


</div>
</body>