<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="css/default.css">
	</head>
	<body>
		<div id="content">
			<div id="navbar">
				<a id="go-home" href="/">nixii.dev</a>
				<div id="navbar-other">
					<a class="anchor-right" href="/about-me">about me</a>
					<a class="anchor-right" href="/blog">blog</a>
					<a class="anchor-right" href="https://files.nixii.dev/">fileserver</a>
				</div>
			</div>
			<div id="page">
				{{ content }}
			</div>
			<div id="bottombar">
				<div id="webring">

				</div>
				<div id="links">
					
				</div>
			</div>
		</div>
	</body>
</html>